{% extends 'base.html' %}
{% block title %}{{ shop.title | truncatechars:30 }}{% endblock %}
{% block content %}
{% load thumbnail %}
{% load static %}
<link type="text/css" href="{% static 'css/shop_detail.css' %}" rel="stylesheet" />
<div class="container">
    <div class="post">
        <div class="post-image">
            {% thumbnail shop.image "250x300" crop="center" upscale=True as im %}    
            <img class="card-img my-2" src="{{ im.url }}">
            {% endthumbnail %}
        </div>
        <div class="post-content">
            <div class="post-header">
                <h1>{{ shop.title }}</h1>
                <div class="post-meta">
                    <span class="author">₽ {{ shop.price }}</span>
                </div>
            </div>
            <p>{{ shop.description }}</p>
        </div>
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<hr class="featurette-divider">
{% endblock %}