{% load thumbnail %}
{% load static %}
<link type="text/css" href="{% static 'css/carousel.css' %}" rel="stylesheet" />
<header data-bs-theme="dark">
<nav class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: #003688;">
  <div class="container-fluid">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><img src="{% static 'img/logo.png' %}" width="60" height="60"/></svg>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'shop'%}">Наша продукция</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">О нас</a>
        </li>        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Доставка и оплата</a>
        </li>        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Тренировки</a>
        </li>
    </div>
  </div>
</nav>
</header>